
#container{border-radius: 15px;
 background-color: white;
}
#logo{
  width: 12vw;
  align-items: center;
}
#icons{
  color: orange;
}
#element{
  margin: 0 5% 0 5%;
}
#description{
  font-size: smaller;
  width: 17vw;
  color: gray;
}
.Background{
  background-color:#ffd580; width: 100%; height: 100%; position: fixed; top: 0; left: 0;

}
.screen{
  display: grid;
  position:absolute;
 left: 10px;
 top: 15px;
 grid-template-columns: 15vw 85vw;
  height: 100%;
  column-gap: 10px;
}
.bi{
  margin-right: 5px;
  font-size: 15px;
}
.Nav-side a{

  flex-wrap: wrap;
  display: block; 
  text-decoration: none;
  text-align: left;
  padding: 15px;
 margin: 5px 0 0 5px;
color: black;
transition: 0.3s;


}

.Nav-side a:hover{
  
border-radius: 25px;
transition: 0.3s;
color: orangered;
border: 0.5px solid orange;
background-color:aliceblue;
}


.Main{
 display:block;}

 .Main-search-bar{
 margin:30vh;
justify-self: center;
 }
.search-bar{
border-radius: 7px;
padding: 15px;
border: 0.5px solid gray;
}

.search{
margin-left: 5px;
background-color:#F89939;
border-radius: 7px;
border: 0;
color: white;
}
#menu{
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
  display:flex;
  background-color: aliceblue;
  border-radius: 7px;
  transition: 0.3s;
}

 .Main-menu a :hover{
   transition: 0.3s;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(214, 214, 214);
 }

 

 .Menu{
 transition: 0.3s;
  border-radius: 7px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
 }
.Img{
  width: 17vw;
  height: 10vw;
 border-radius: 7px;
}
.Img-2{
   width: 12vw;
  height: 16vw;
 border-radius: 7px;
}
.Event-menu{
 display: flex;
  gap: 10px;
  background-color:rgb(225, 232, 239);
  padding: 10px;
}
.other-event a{
text-decoration: none;
color: black;
border-radius: 7px;
background-color:rgb(225, 232, 239);
padding: 10px;
}
.iframe{
  width: 77vw;
  height: 70vh;
  border-radius: 7px;
}

